<!DOCTYPE html>
<html>
  <head>
    <title> Brau Meister </title>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="foundation.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>

  <body>
    <div class="header">
      <h3> Welcome to Brau Meister </h3>
      <a href = "/">Log in</a>

    <div class="links">
      <p><a href = "/RecipeMaker">Recipe Maker</a> -- Create a Recipe </p>
      <p><a href = "/BrewDay">Brew Day</a> -- Ready to Brew? Let's go!</p>
      <p><a href = "/BrewTracker">Brew Tracker</a> -- Ferment and forget.</p>
      <p><a href = "/BrewJudge">Brew Judge</a> -- All finished? Not yet, it's time to rate your homebrew</p>
    </div>
  </body>
</html>
